@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto' sans-serif;
  background: #f4f4f4;

}

a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  text-align: -webkit-center;

}

p {
  margin: 0.75rem 0;
  color: #fff;
  text-align: right;
  font-size: 0.5rem;
}

h3 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1.4rem;
  background: #f4f4f4;
}


/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.bottom {
  line-height: 1.5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;

}

.text-primary {
  color: #1DA1F2;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-family: 'Dancing Script';
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
  line-height: 1.1;
  background: #f4f4f4;
}

.py-1 {  padding: 1.5rem 0; }
.py-2 {  padding: 2rem 0; }
.py-3 {  padding: 3rem 0; }

.p-1 {  padding: 1.5rem; }
.p-2 {  padding: 2rem; }
.p-3 {  padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background: #1DA1F2;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #333;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #1DA1F2;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
  font-size: 1.5rem;
  text-align: center;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}


/*Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  }

  #navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
  }

  #navbar ul li a:hover {
    background: #1DA1F2;
    border-radius: 5px;
  }

/* Showcasse */
#showcase {
  background: #333 url('./img/showcase.png') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
position: relative;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%
  padding: 0 2rem;
  /*overlay */
position: absolute;
top: 0px;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.6);
}

/* Section media */
.items {
  display: flex;
}

.item {
  flex: 1;
  text-align: center;
}

#media .items .item i {
  background: #1DA1F2;
  padding: 1.5rem;
  border-radius: 80%;
}

/* Section phone and location */
.item1 {
  display: flex;
}

.item2 {
  flex: 1;
  text-align: center;
}

#location .item1 .item2 i {
  background: #1DA1F2;
  padding: 1.5rem;
  border-radius: 80%;
}



/* Section: Description of bar */
#who {
  display: flex;
}

#who div {
  flex: 1;
  flex-basis: 50%;
}

#who .who-img  {
  background: url('./img/pooltables.png') no-repeat center center/cover;

.CT {
  color: white;
}
/* Menu Section */
.menu {
  padding: 30px;
}
